:root {
  --accent-color: rgba(33, 150, 243, 1);
  --active-btn-color: rgba(24, 140, 232, 1);
  --basic-text-color: rgba(117, 117, 117, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --primary-black-color: rgba(33, 33, 33, 1);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --dark-bg-color: rgba(47, 48, 58, 1);
  --light-bg-color: rgba(245, 244, 250, 1);
  --header-border-color: rgba(236, 236, 236, 1);
  --portfolio-border-color: rgba(238, 238, 238, 1);
}

/* basic rules */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-black-color);
  background: var(--primary-white-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-black-color);
}

.accent {
  color: var(--accent-color);
}

.header .link:hover:not(.logo),
.header .link:focus:not(.logo),
.footer .link:hover:not(.logo),
.footer .link:focus:not(.logo) {
  color: var(--accent-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.current {
  color: var(--accent-color);
}

/* header-section */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header .contact {
  color: var(--basic-text-color);
}

/* hero section */

.hero {
  text-align: center;
  color: var(--primary-white-color);
  background: var(--dark-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main-btn:active {
  background: var(--active-btn-color);
}

/* features-section */

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--basic-text-color);
}

/* teammates-section */

.teammates {
  background: var(--light-bg-color);
}

.teammate-card {
  text-align: center;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.teammate-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--basic-text-color);
}

/* footer-section */

.footer {
  font-size: 14px;
  line-height: 1.71;
  background: var(--dark-bg-color);
}

.footer .logo {
  color: var(--primary-white-color);
}

.footer .contact {
  font-style: normal;
  color: var(--footer-contacts-color);
}

.map-point {
  font-style: normal;
  color: var(--primary-white-color);
}

/* portfolio-section 
portfolio filter-buttons */

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-black-color);
  background: var(--light-bg-color);
  border: none;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* projects-section */

.project-card {
  border: 1px solid var(--portfolio-border-color);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--basic-text-color);
}
